/* For newer IE versions, since they ignore meta viewport tags in snap mode */
@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}

@viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}

*, :before, :after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/*
 * Header and Hero
 */

header {
  overflow: auto;
  margin-bottom: 1em;
  padding: 1em;
  border-bottom: 3px solid #7d97ad;
  text-align: right;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 700;
  font-variant: small-caps;
}

header h1 {
  margin: 0;
}

header p {
  margin: 1em 0 0;
}

.logo {
  float: left;
  width: 80px; /* Use a multiple of 16 to align edges with pixels */
  height: 80px;
  fill: #444;
}

.hero {
  display: block;
  width: 100%;
}


/*
 * Main content
 */

main {
  width: 100%;
}

.featured-work {
  display: flex;
  flex-wrap: wrap;
}

.featured-work h2 {
  width: 100%;
  text-align: center;
}

.featured-work article {
  width: 100%;
  padding: 1em;
  text-align: center;
}

.github {
  text-decoration: none;
  font-size: 0.8em;
  line-height: 2em;
}

.github:before {
  padding: 0;
  content: "\f124";
  font: 1.5em/1.65 zocial;
  margin-right: 0.25em;
  color: initial;
  display: inline-block;
  position: relative;
  top: 0.125em;
}

/*
 * Responsive media queries
 */

@media screen and (min-width: 400px) {
  .featured-work article {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  main,
  .hero {
    width: 800px;
    margin: 0 auto;
  }

  .featured-work article {
    width: 33.3333%;
  }

  .featured-work p {
    font-size: 0.9em;
  }
}
